<div ng-controller="homecontroller">
	<div class="top-search-form">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-8 text-center mx-auto my-5">
					<h1 class="heading mb-5">Identity ?</h1>
					<form>
						<div class="row">
							<div class="col-lg-6">
								<a ui-sref="needyform" class="btn btn-danger btn-block">Seeker</a>
							</div>
							<div class="col-lg-6">
								<a ui-sref="donorform" class="btn btn-primary btn-block">Doner</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
