<div ng-controller="homecontroller">
	<div class="top-search-form">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-8 text-center mx-auto my-5">
					<h1 class="heading mb-5">Choose Your Identity !</h1>
					<form>
						<div class="row">
							<div class="col-lg-6 offset-lg-3">
								<a ui-sref="needyform" class="btn btn-danger">Seeker</a>&nbsp;
                                <a ui-sref="donorform" class="btn btn-primary">Doner</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
