<div ng-controller="homecontroller">
        <div ng-controller="homecontroller">
            <div class="hero-v1">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 mr-auto text-center text-lg-left">
                            <span class="d-block subheading">Society Welfare Portal for COVID 19</span>
                            <h1 class="heading mb-3">Helping Mankind!</h1>
                            <p class="mb-5">The idea is all about making a common platform for people who urgently need the 
                                    items for the patient and families suffering from this pandemic and the donors who want to help 
                                    the needy ones.</p>
                            <p class="mb-4">
                                <a ui-sref="needyform" class="btn btn-danger">Request</a>&nbsp;
                                <a ui-sref="donorform" class="btn btn-primary">Donate</a>
                            </p>
                        </div>

                        <div class="col-lg-6 d-none d-lg-block">
                            <figure class="illustration">
                                <img src="assets/images/illustration.png" alt="Image" class="img-fluid">
                            </figure>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>

        </div>

        
      <div class="site-section">
        <div class="container">
          <div class="row">
            
            <div class="col-lg-6 mb-4 mb-lg-0">
              <figure class="img-play-vid"><br>
                <img src="assets/images/pic.PNG" alt="Image" class="img-fluid">
                <div class="absolute-block d-flex">
                  <span class="text text-primary" >Watch the Video</span>
                  <a href="https://www.youtube.com/watch?v=9pVy8sRC440" data-fancybox class="btn-play">
                    <span class="icon-play"></span>
                  </a>
                </div>
              </figure>
            </div>
            <div class="col-lg-5 ml-auto">
              <h2 class="mb-4 section-heading">Be a Responsible Indian!</h2>
              <p>For those who require hospitalization , we have listed as much as possible and are continuously updating .This website may be useful but please also check government helplines.
              </p>
              <ul class="list-check list-unstyled mb-5">
                  <li>Specifying a Query(as donor or Needy )
                  <li>Accessibility to Needy
                  <li>No third party involvement (Except Government)
                  <li>Connecting People to Government Polices and NGOs
                  <li>Absolutely Free Service to Underprivilege
                  <li>Detailed Data Analysis
                  <li>24x7 volunteer in Emergency  
                  <li>Dedicated Team
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container pb-5">
          <div class="row">
              <div class="col">

                <div class="media-v1 bg-1">
                  <div class="icon-wrap">
                    <img src="assets/images/oxygen.webp" height="140" width="254">
                  </div>
                  <div class="body">
                    <h3>Get Oxygen Cylinder at no Cost</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, debitis!</p>
                  </div>
                </div>
              </div>
          
              <div class="col">

                <div class="media-v1 bg-1">
                  <div class="icon-wrap">
                    <img src="assets/images/plasma.jpg" height="140" width="254">
                  </div>
                  <div class="body">
                    <h3>Donate Plasma</h3>
                    <p>If you already recovered from Covid please make sure to donate blood to help other to recover.</p>
                  </div>
                </div>
                </div>

              <div class="col">
                <div class="media-v1 bg-1">
                  <div class="icon-wrap">
                    <img src="assets/images/conv.jpg" height="140" width="254">
                  </div>
                  <div class="body">
                    <h3>Free Conveyance Service</h3>
                    <p>Provision of Oxygen available in vehicles.</p>
                  </div>
                </div>
              </div>

              <div class="col">

                <div class="media-v1 bg-1">
                  <div class="icon-wrap">
                    <img src="assets/images/hmf.jpg" height="140" width="254">
                  </div>
                  <div class="body">
                    <h3>Home made Food to Needies</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, debitis!</p>
                  </div>
                </div>
              </div>
        </div>
      </div>

</div>