        <div ng-controller="homecontroller">
            <div class="hero-v1">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 mr-auto text-center text-lg-left">
                            <span class="d-block subheading">Society Welfare Portal for COVID 19</span>
                            <h1 class="heading mb-3">Helping Mankind!</h1>
                            <p class="mb-5">The idea is all about making a common platform for people who urgently need the 
                                    items for the patient and families suffering from this pandemic and the donors who want to help 
                                    the needy ones.</p>
                            <p class="mb-4">
                                <a ui-sref="" class="btn btn-danger">Request</a>&nbsp;
                                <a ui-sref="" class="btn btn-primary">Donate</a>
                            </p>
                        </div>

                        <div class="col-lg-6 d-none d-lg-block">
                            <figure class="illustration">
                                <img src="assets/images/illustration.png" alt="Image" class="img-fluid">
                            </figure>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>

        </div>